<!DOCTYPE html>
<html html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/css/login.css">

</head>
<body>

<div class="container">
    <div>
        <a>
            <img src="images/logo.png" alt="">
        </a>
    </div>
    <div class="card">
        <h2>Login</h2>
        <form th:action="@{/login}"
              th:method="post"
              th:object="${userLoginDto}">

            <div th:if="${validCredentials == false}" class="alert-danger">Incorrect username or password!</div>

            <input type="text"
                   id="username" name="username"
                   placeholder="Username"
                   th:field="*{username}" required>
            <input type="password"
                   id="password" name="password"
                   placeholder="Password"
                   th:field="*{password}" required>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>